@import 'bootstrap/scss/functions';
@import './variables';
@import 'bootstrap/scss/bootstrap';

img{
    max-width: 100%;
}
.main-image{
    max-height: 150px;
}
.images{
    max-height: 100px;
}

.modal-carousel-item-img{
    height: 250px;
}

.product-list-card{
    text-decoration: none;
    transition: transform 0.5s, box-shadow 0.5s;
}
.product-list-card:hover {
    transform: translateY(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}